*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {

    background: linear-gradient(rgb(32 31 31 / 66%), rgb(0 0 0 / 40%)), url(images/gallerycover.jpg);
    min-height: 70vh;
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
}

a {
    text-decoration: none;
}

nav {
    /* min-height: 80px; */
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    text-align: center;


}

.right {
    padding: 5px 0 5px 0;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.nav-menu {
    padding-left: 30px;
    list-style: none;
    width: 100%;
    overflow: hidden;
}

.nav-menu li {
    display: inline;
    margin: 0 40px 0 0;
    padding: 10px 0px 10px 0px;
}

/*color of class menu items*/
.menu-items {
    line-height: 1.6em;
    color: #ffffff00;
    text-shadow: 0 0 #ffffff, 0 1.6em #F85151;
    /* font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif'; */
    font-size: 17px;
    overflow: hidden;
    transition: .3s;
}

/*on hover text color change to red */
.menu-items:hover {
    text-shadow: 0 -1.5em #000, 0 0 #F85151;
}

/*login button on nav bar*/
.login-btn {
    padding: 10px 20px;
    border-radius: 40px;
    border: 0;
    cursor: pointer;
    background-color: #F85151;
    font-weight: 900;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
}

.login-btn:hover {
    background-color: #7CB9E8;
    transition: .3s;
}
/*nav bar ends here */

/* arrow button starts here */

* {
    scroll-behavior: smooth;
}

.scrolltop .button {
    border-radius: 30%;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    border-style: none;
    background-color: #F85151;
    width: 38px;
    height: 38px;
    line-height: 60px;
    text-align: center;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s;
    opacity: .5s;
    visibility: .5s;
    /* opacity: 0; */
    z-index: 10;
}

/* arrow button ends here */

section.about1 {
    width: 30%;
    margin: 340px 0 0px 40px;
    color: #ffffff;
}

.about1 .left-about{
    border: 1px solid #F85151;
    background: #F85151;
    border-radius: 10px;
    padding: 0 50px;
}

section.cont{
    position: relative;
    top: -3px;
    height: 10px;
}

.fot_img img {
    margin-bottom: -1px;
    width: 100%;
    height: auto;
}
section.end {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40vh;
    background: #434e53;
}

.left1 {
    width: 40%;
    font-size: 15px;
    padding: 0 0 0 20px;
}

.left1 p {
    padding: 0 0 0 192px;
    color: #ffffff;
}

.right1 {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right1 .container5 .icon1 p,
.right1 .container5 .icon2 p,
.right1 .container5 .icon3 p {
    font-size: 15px;
    border: 0;
}

section.end .right1 p {
    font-size: 25px;
    margin-bottom: 10px;
    color: #ffffff;
    border-bottom: 1px solid whitesmoke;
}

.container5 {
    width: 50%;
}

.container5 .icon1,
.container5 .icon2,
.container5 .icon3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.last {
    padding: 35px 0 0px 0;
    background: #434e53;
    position: relative;
    top: -3px;
    height: -1px;
}

.last p {
    text-align: right;
    color: #ffffff;
}

section .title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
}
section .title h1{
    font-size: 3em;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    padding: 0 0 30px 0;
    border-bottom: 3px solid black;
    border-radius: 1px;
    width: 40%;
    text-align: center;
}
section .title h1 span{
    font-weight: lighter;

}
.wrapper_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.wrapper {
    width: 400px;
    height: 500px;
    overflow: hidden;
    margin: 20px;
    border-radius: 20px;
}
.wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 400ms;
}
.wrapper:hover img{
    transform: scale(1.2);
}

