 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'poppins', sans-serif;
 }

 body {
     margin: 0;
     padding: 0;
     font-family: montserrat;
     background: white;
     height: 135vh;
 }

 html {
     background-color: var(--grey);
 }

 :root {
     --poppins: 'Poppins', sans-serif;
     --lato: 'Lato', sans-serif;

     --light: #F9F9F9;
     --blue: #3C91E6;
     --light-blue: #CFE8FF;
     --grey: #eee;
     --dark-grey: #AAAAAA;
     --dark: #342E37;
     --red: #DB504A;
     --yellow: #FFCE26;
     --light-yellow: #FFF2C6;
     --orange: #FD7238;
     --light-orange: #FFE0D3;
 }

 .container {
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
     align-content: center;
     min-height: 100vh;
 }

 .center {
    margin-top: 26px;
    width: 530px;
    background: #ebebeb;
    border-radius: 10px;
    min-height: 50vh;
 }

 .center h1 {
     text-align: center;
     padding: 20px 0 20px 0;
     border-bottom: 1px solid silver;
 }

 .center form {
     padding: 0px 50px;
     box-sizing: border-box;
 }

 form .text {
     position: relative;
     border-bottom: 2px solid #adadad;
     margin: 30px 0px;
 }

 .text-display{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 form #additionalFieldsContainer {
     /* position: relative; */
     /* border-bottom: 2px solid #adadad; */
     display: contents;
     margin: 30px 0px;
 }

 form .text1 {
     position: relative;
     margin: 10px 0px;
 }


 .text1 input {
     width: 100%;
     padding: 0 5px;
     height: 40px;
     font-size: 16px;
     border: none;
     background: none;
     outline: none;
 }

 .text input {
     width: 100%;
     padding: 0 5px;
     height: 40px;
     font-size: 16px;
     border: none;
     background: none;
     outline: none;
 }

 .text label {
     position: absolute;
     top: 40%;
     left: 5px;
     color: #adadad;
     transform: translateY(-50%);
     font-size: 16px;
     pointer-events: none;
     transition: .5s;
 }

 .select label {
     color: #2691d9;
     transform: translateY(-50%);
     font-size: 16px;
     pointer-events: none;
     transition: .5s;
 }

 .text span::before {
     content: '';
     position: absolute;
     top: 100%;
     left: 0;
     width: 0%;
     height: 3px;
     background: #2691d9;
     transition: .5s;
 }

 .text input:focus~label,
 .text input:valid~label {
     top: -5px;
     color: #2691d9;
 }

 .text input:focus~span::before,
 .text input:valid~span::before {
     width: 100%;
 }


 .pass {
     width: fit-content;
     margin: -5px 0 20px 5px;
     color: #a6a6a6;
     cursor: pointer;
 }

 .pass:hover {
     text-decoration: underline;
 }

 input [type="button"] {
     width: 100%;
     height: 50px;
 }

 input[type="submit"] {
     width: 100%;
     height: 30px;
     border: 1px solid;
     background: red;
     color: #e9f4fb;
     border-radius: 25px;
     font-size: 15px;
     font-weight: 700;
     cursor: pointer;
     transition: .3s;
     outline: none;
 }

 input[type="submit"]:hover {
     background-color: #7CB9E8;

 }

 .display-button {
     width: 100%;
     height: 30px;
     margin: 10px 0 20px 0;
     border: 1px solid;
     background: red;
     color: #e9f4fb;
     border-radius: 25px;
     font-size: 15px;
     font-weight: 700;
     cursor: pointer;
     transition: .3s;
     outline: none;
 }

 .display-button a {
     text-decoration: none;
     color: white;
 }

 .display-button:hover {
     background-color: #7CB9E8;
 }


 p.error {
     background: #ff0000;

     color: #a6a6a6;

     padding: 10px;

     width: 95%;

     border-radius: 5px;

     margin: 20px auto;

 }

 input[type="date"]:in-range::-webkit-datetime-edit-year-field,
 input[type="date"]:in-range::-webkit-datetime-edit-month-field,
 input[type="date"]:in-range::-webkit-datetime-edit-day-field,
 input[type="date"]:in-range::-webkit-datetime-edit-text {
     color: transparent;
 }

 .profile .avatar {
     vertical-align: middle;
     width: 50px;
     height: 50px;
     border-radius: 50%;
 }
 .profile{
    margin: 10px;
 }

 /* file upload css  -------------------------------------------------------*/

input[type="file"] {
    outline: none;
    width: 90%;
    padding: 4px;
    margin: -4px;
}

input[type="file"]:focus-within::file-selector-button,
input[type="file"]:focus::file-selector-button {
    outline: 2px solid #0964b0;
    outline-offset: 2px;
}

input[type="file"]::before {
    top: 16px;
}

input[type="file"]::after {
    top: 14px;
}

/* ------- From Step 2 ------- */

input[type="file"] {
    position: relative;
}

input[type="file"]::file-selector-button {
    width: 136px;
    color: transparent;
}

/* Faked label styles and icon */
input[type="file"]::before {
    position: absolute;
    pointer-events: none;
    /*   top: 11px; */
    left: 40px;
    color: #0964b0;
    content: "Upload Photo";
}

input[type="file"]::after {
    position: absolute;
    pointer-events: none;
    /*   top: 10px; */
    left: 16px;
    height: 20px;
    width: 20px;
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%230964B0'%3E%3Cpath d='M18 15v3H6v-3H4v3c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2v-3h-2zM7 9l1.41 1.41L11 7.83V16h2V7.83l2.59 2.58L17 9l-5-5-5 5z'/%3E%3C/svg%3E");
}

/* ------- From Step 1 ------- */

/* file upload button */
input[type="file"]::file-selector-button {
    border-radius: 4px;
    padding: 0 16px;
    height: 40px;
    cursor: pointer;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.16);
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
    margin-right: 16px;
    transition: background-color 200ms;
}

/* file upload button hover state */
input[type="file"]::file-selector-button:hover {
    background-color: #f3f4f6;
}

/* file upload button active state */
input[type="file"]::file-selector-button:active {
    background-color: #e5e7eb;
}

 /* file upload css  */


 /* profile page starts--------------------------------- */
 .profile-main {
     display: flex;
     justify-content: space-evenly;
     align-items: center;
 }

 section.row {
     margin: 20px;
     border-radius: 20px;
     background: #ffffff;
     height: 577px;
     width: 36%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }



 .profile-right {
     display: flex;
     flex-direction: column;
     width: 55%;
 }

 .additional-info {
     border-radius: 20px;
     background: #ffffff;
     height: 326px;
     width: 100%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }

 section.Bio {
     margin: 35px 0 0 0px;
     border-radius: 20px;
     background: #ffffff;
     height: 220px;
     width: 100%;
     padding: 5px;
 }


 .field1 {
     margin: 10px;
 }

 .field {
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin: 10px;
     width: 80%;
 }

 .Bio-field {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin: 10px;
     width: 100%;
 }

 .field label,
 .Bio-field label {
     font-weight: 700;
     font-size: 20px;
     color: #F85151;
     text-align: center;
     letter-spacing: 1px;
     font-family: 'poppins', sans-serif;
 }

 .profile-main span {
     font-size: 20px;
     color: #333;
     text-align: center;
     letter-spacing: 1px;
     font-family: 'poppins', sans-serif;
 }

 .Profile-img {

     width: 150px;
     height: 150px;
     object-fit: cover;
     margin: 10px auto;
     border: 5px solid #ccc;
     border-radius: 50%;
 }

 .edit-profile {
     width: 40%;
     height: 30px;
     margin: 52px 20px 18px 0px;
     border: 1px solid;
     background: red;
     color: #e9f4fb;
     border-radius: 25px;
     font-size: 15px;
     font-weight: 700;
     cursor: pointer;
     transition: .3s;
     outline: none;
     float: right;
 }

 .edit-profile:hover {
     background: #7CB9E8;
 }

 .edit-profile a {
     color: #ffffff;
     text-decoration: none;
 }

 /* profile page ends--------------------------------- */
