*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    /* margin: 0;
    padding: 0; */
    font-family: montserrat;
    background: white;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 620px;
}

.center {
    width: 400px;
    background: white;
    border-radius: 10px;
    min-height: 50vh;
}

.center h1 {
    text-align: center;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid silver;
}
.center span.error{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    margin: 20px 0px 0px 0px;
    color: #f00;
}

.center form {
    padding: 0px 50px;
    box-sizing: border-box;
}

form .text {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0px; 
}

.text input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}
.text i{
    right: 5px;
    top: 26px;
    font-size: 14px;
    color: #999;
    cursor: pointer;
    position: absolute;
    transform: translateY(-50%);
}

.text label {
    position: absolute;
    top: 40%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.text span::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0%;
    height: 3px;
    background: #2691d9;
    transition: .5s;
}

.text input:focus~label,
.text input:valid~label {
    top: -5px;
    color: #2691d9;
}

.text input:focus~span::before,
.text input:valid~span::before {
    width: 100%;
}

.pass{
    width: fit-content;
    margin: -5px 0 20px 5px;
    cursor: pointer;
}
.pass a{
        color: #a6a6a6;
}

.pass:hover{
    text-decoration: underline;
}

.changePasswordMessage{
    line-height: 1.5;
    width: 100%;
    margin-top: 55px;
    color: #F85151;
    font-weight: 600;
}

input [type="button"] {
    width: 100%;
    height: 50px;
}

input[type="submit"] {
    width: 100%;
    height: 30px;
    border: 1px solid;
    background: red;
    color: #e9f4fb;
    border-radius: 25px;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    transition: .3s;
    outline: none;
}

input[type="submit"]:hover {
    background-color: #7CB9E8;

}

p.error {
    background: #ff0000;

    color: #a6a6a6;

    padding: 10px;

    width: 95%;

    border-radius: 5px;

    margin: 20px auto;

}
.signup, .goBack{
    padding: 0px 50px;
}
.signup-btn , .goBack-btn{
    width: 100%;
    height: 30px;
    margin-top: 10px;
    border: 1px solid;
    background: red;
    color: #e9f4fb;
    border-radius: 25px;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    transition: .3s;
    outline: none;
}
.signup-btn:hover, .goBack-btn:hover {
    background-color: #7CB9E8;
}
.goBack a{
    color: #ffffff;
}

/*Home page starts here*/

/*Nav Bar starts here*/
a {
    text-decoration: none;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 0px 40px;
    text-align: center;    
    
}
.left img{
    margin: 0 0 0 100px;
    padding: 10px px 0 10px 0;
    height: 165px;
}

.right{
    padding: 5px 0 5px 0;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.nav-menu{
    padding-left: 30px;
    list-style: none;
    width: 100%;
    overflow: hidden;
}

.nav-menu li{
    display: inline;
    margin: 0 40px 0 0;
    padding: 10px 0px 10px 0px;
}

/*color of class menu items*/
.menu-items {
    line-height: 1.8em;
    color: #ffffff00;
    text-shadow: 0 0 #ffffff, 0 1.8em red;
    /* font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif'; */
    font-size: 15px;
    overflow: hidden;
    transition: .3s;
}

/*on hover text color change to red */
.menu-items:hover {
    text-shadow: 0 -1.8em #000, 0 0 red;
}

/*login button on nav bar*/
.login-btn, .register{
    padding: 5px 13px;
    border-radius: 40px;
    border: 0;
    cursor: pointer;
    background-color: #F85151;
    font-weight: 700;
    color: #ffffff;
    /* font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif'; */
}
.register{
        font-size: 14px;
}
.register:hover{
background-color: #7CB9E8;
    transition: .3s;
}
.login-btn:hover{
    background-color:#7CB9E8;
    transition: .3s;
}
.login-btn a{
    font-family: 'poppins', sans-serif;
    font-size: 14px;
}

/*nav bar ends here */

/* arrow button starts here */

*{
    scroll-behavior: smooth;
}

.scrolltop .button {
    border-radius: 30%;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    border-style: none;
    background-color: #F85151;
    width: 38px;
    height: 38px;
    line-height: 60px;
    text-align: center;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s;
    opacity: .5s; visibility: .5s;
    /* opacity: 0; */
    z-index: 10;
}

/* arrow button ends here */
header {

    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6)), url(../images/Bg.jpg);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
}
.aboutus{
    height: 100vh;
}

section.about1 {
    width: 60%;
    margin: 70px 0 65px 0;
}
.heading{
    margin: 35px 0 0 0;
    padding: 30px 0 65px 0;
    background-color: #333;
    clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 6rem), 0% 100%);
}
.aboutus .heading h1 {
    width: 100%;
    font-size: 40px;
    color: #ffffff;
    text-align: center;
    letter-spacing: 1px;
    font-family: 'poppins', sans-serif;
    padding: 10px 0px 16px 0px;
}

/* .left-about h1:hover {
    color: #F85151;
} */

.about1 .left-about p {
    font-size: 17px;
    font-weight: 400;
    line-height: 31.5px;
    margin: 10px 0 0 152px;
    color: #333;
}

section.about2 {
    display: flex;
    align-items: center;
    justify-content:space-around;
    padding: 0 0 0 136px;
}
    
.about2 .left-about{
    width: 40%;
}
.about2 .middel-about{
    width:40%;
}
.about2 .right-about {
    width: 40%;
}

#img_align {
    width: 95%;
    border-radius: 5px;
    cursor: pointer;
}


.about_card {
    position: relative;
    width: 350px;
    height: 234px;
    margin: 20px;
    transform-style: preserve-3d;
    perspective: 1000px;
}

.box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: 1s ease;
}

.imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.contentBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
}

.contentBx div {
    transform-style: preserve-3d;
    padding: 20px;
    background: whitesmoke;
    transform: translateZ(100px);
}

.contentBx div h2 {
    color: rgb(0, 0, 0);
    font-size: 20px;
    letter-spacing: 1px;
}

.contentBx div p {
    color: rgb(36, 33, 33);
    font-size: 14px;
}

.about_card:hover .box {
    transform: rotateY(180deg);
}

.video{
    width: 50%;
    height: 50%;
}
/* Feature event section ------------------------------------------------------------------------------------------------------*/
 .featured_event{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    margin: 4% 0;
    padding: 30px 0 65px 0;
        background-color: #333;
        clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 6rem), 0% 100%);
}
 .featured_event .content {
    width: 50%;
}

 .featured_event .content h1,.featured_event .content p {
    text-align: center;
    color: #ffffff;
    
}

 .featured_event .content h1 {
    font-size: 45px;
    font-family: sans-serif;
}

.featured_event .content p {
    font-size: 16px;
    font-family: sans-serif;
}
.icon {
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
}

/* Feature event section end --------------------------------------------------------------------------------------------------------*/

/* Featured Events Boxes starts here -------------------------------------------------------------------------------------------*/

.event_slider{
    display: flex;
    padding: 0 35px;
    align-items: center;
    justify-content: center;
    margin: 0px 0px 110px 0px;
}
.wrapper {
    max-width: 1444px;
    width: 100%;
    position: relative;
}

.wrapper i {
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
}

.wrapper i:active {
    transform: translateY(-50%) scale(0.85);
}

.wrapper i:first-child {
    left: -22px;
}

.wrapper i:last-child {
    right: -22px;
}

.wrapper .carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px;
    border-radius: 8px;
    scroll-behavior: smooth;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel.no-transition {
    scroll-behavior: auto;
}

.carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.carousel.dragging .card {
    cursor: grab;
    user-select: none;
}

.carousel :where(.card, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel .card {
    scroll-snap-align: start;
    height: 310px;
    list-style: none;
    background: #F85151;
    cursor: pointer;
    flex-direction: column;
    border-radius: 8px;
}
.carousel .card:hover{
    transition: 0.5s ease;
    background: #7CB9E8 ;
}

.carousel .card .img {
    background: #8B53FF;
    height: 174px;
    width: 287px;
    border-radius: 10%;
}

.card .img img {
    width: 280px;
    height: 168px;
    border-radius: 10%;
    object-fit: cover;
    border: 3px solid #fff;
}

.carousel .card h2 {
    font-weight: 500;
    font-size: 1.56rem;
    margin: 15px 0 5px;
    color: #ffffff;
}

.carousel .card span {
    color: #ffffff;
    font-size: 1.31rem;
}

.learnMore_btn {
    margin: 10px 0px 10px 0px;
    padding: 5px 13px;
    border-radius: 40px;
    border: 0;
    cursor: pointer;
    background-color: #ffffff;
    font-weight: 700;
}

.learnMore_btn a {
    font-family: 'poppins', sans-serif;
    font-size: 14px;
    color: #F85151;
    transition: color 0.3s;
}

.card:hover .learnMore_btn {
    background-color: #F85151;
}

.card:hover .learnMore_btn a {
    color: #ffffff;
}

/* event boxes ends here ----------------------------------------------------------------------------------------------- */



/* contact section begins -----------------------------------------------------------------------------------------------*/
 
.contact{
    height: 100vh;
}
.contact_section{
    display: flex;
    align-items: center;
    justify-content: center;
}
.clip_path{
        padding: 30px 0 65px 0;
        background-color: #333;
        clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 6rem), 0% 100%);
}

.row1 {
    
    text-align: center;
    justify-content: center;
    width: 50%;
    border-radius: 20px;
    padding: 20px 0;

}
.contact h1 {
    color: #ffffff;
    font-size: 40px;
    text-align: center;
    font-weight: 600;
    padding-bottom: 5px;
}
.contact form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 50px 20px 10px;
    margin: 10px;
}
.row1 input{
    width: 50%;
    padding: 0 5px;
    margin-bottom: 10px;
    height: 40px;
    font-size: 16px;
    outline: none;
}
.row1 input.verify:invalid{
    border: 1px solid #F85151;
    animation: shake 0.2s 2;
}
@keyframes shake{
    25%{
        translate: 6px 0;
    }
    50% {
        translate: -6px 0;
    }
         
    75% {
        translate: 6px 0;
    }
                
}

.row1 textarea{
    width: 50%;
    height: 150px;
    padding: 12px 5px;
    border: 1px solid #ccc;
    font-size: 1.2rem;
    resize: none;
    color: #333;
    margin: 1.2rem 0;
    font-family: "poppins";
}

.row1 .send_btn{
    width: 50%;
    padding: 10px 20px;
    border-radius: 20px;
    border: 0;
    cursor: pointer;
    color: white;
    background-color: #F85151;
    font-weight: 900;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif'
}

.row1 .send_btn:hover {
    background-color: #7CB9E8;
    transition: .3s;
}
.row1 form p{
    font-size: 27px;
        color: #333;
        text-transform: capitalize;
        margin-bottom: 35px;
        font-weight: 700;
}

.contact-col {
    width: 30%;
    padding: 0 15px;
    height: 345px;
    border-radius: 10px;
    background-color: #d5d1d1;
}

.contact-col h4 {
    font-size: 27px;
    color: #333;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 700;
    position: relative;
}

.contact-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.contact-col ul li p {
    font-size: 16px;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 300;
    color: #5c5b5b;
    display: block;
    transition: all 0.3s ease;
}

.contact-col ul li {
    margin: 10px 10px 10px 0;
}

.contact-col span {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(145, 144, 144, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #333;
    transition: all 0.5s ease;
}
/* contact section ends -----------------------------------------------------------------------------------------------*/
section.cont {
    position: relative;
    top: -3px;
    height: 10px;
}

section.end {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40vh;
    background: #434e53;
}

.left1 {
    font-size: 15px;
    padding: 0 0 0 20px;
}
.left1 img{
    height: 230px;
}
.left1 p{
    padding: 0 0 30px 30px;
    color: #ffffff;
}
.right1{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right1 .container5 .icon1 p,
.right1 .container5 .icon2 p,
.right1 .container5 .icon3 p {
    font-size: 15px;
    border: 0;
}
section.end .right1 p{
    font-size: 25px;
    margin-bottom: 10px;
    color: #ffffff;
    border-bottom: 1px solid whitesmoke;
}
.container5{
    width: 50%;
}
.container5 .icon1, .container5 .icon2, .container5 .icon3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.last {
    padding: 0px 0 10px 0;
    background: #434e53;
    position: relative;
    top: -3px;
    height: -1px;
}
.last p{
    text-align: right;
    color: #ffffff;
}

.event_section{
    height: 100vh;
}
.event_message{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.p1{
display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}
.p2{
    display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
}
/* footer starts here  -----------------------------------------------------------------------------------------------------*/
.footer{
    background: #24262b;
    padding: 70PX 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_containerleft{
display: flex;
    justify-content: center;
    align-items: center;
    width: 245px;
}

.footer_containerright{
    display: flex;
    flex-direction: column;
    width: 1170px;
    margin: auto;
    border-left: 1px solid #ffffff;
}
ul{
    list-style: none;
}

.row{
display: flex;
flex-wrap: wrap;
justify-content: center;

}

.footer-col{
width: 25%;
padding: 0 15px;
}

.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px ;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li{
        margin: 10px 10px 10px 0;
}

.footer-col ul li a, .footer-col ul li p{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 7px;
}

.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
}

.footer-col .register_style button{
        width: 90%;
            padding: 5px 10px;
            border-radius: 20px;
            border: 0;
            cursor: pointer;
            color: white;
            background-color: #F85151;
            font-weight: 900;
            font-size: 20px;
            font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';

}
.footer-col .register_style button:hover{
    background-color: #7CB9E8;
        transition: .3s;
}

.copyright1 {
    font-size: 12px;
    margin: 10px;
    text-decoration: none;
    font-weight: 300;
    color: #8d8b8b;
    display: block;
    transition: all 0.3s ease;
}
/* footer ends here  ------------------------------------------------------------------------------------------------------*/

/* modal to register info ------------------------------------------------------------------------------------------------*/
.register-info {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
}

.modal-content {
    background-color: #fefefe;
    margin: 20% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 400px;
}

.modal-content h2 {
    margin: 0 0 0 22px;
}

.modal-content p {
    margin: 0 0 0 22px;
}
.edit-button {
    width: 80%;
    height: 30px;
    margin: 10px 0 5px 10px;
    border: 1px solid;
    background: red;
    color: #e9f4fb;
    border-radius: 25px;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    transition: .3s;
    outline: none;
}

.edit-button:hover {
    background: #7CB9E8;
}

.edit-button a {
    color: #ffffff;
    text-decoration: none;
}

/* modal to register info ends ------------------------------------------------------------------------------------------------*/