*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-family: montserrat;
    background: white;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    min-height: 100vh;
}

.center {
    width: 400px;
    background: white;
    border-radius: 10px;
    min-height: 50vh;
}

.center h1 {
    text-align: center;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid silver;
}

.center form {
    padding: 0px 50px;
    box-sizing: border-box;
}

form .text {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0px;
}

.text input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.text label {
    position: absolute;
    top: 40%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.text span::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0%;
    height: 3px;
    background: #2691d9;
    transition: .5s;
}

.text input:focus~label,
.text input:valid~label {
    top: -5px;
    color: #2691d9;
}

.text input:focus~span::before,
.text input:valid~span::before {
    width: 100%;
}

.pass{
    width: fit-content;
    margin: -5px 0 20px 5px;
    color: #a6a6a6;
    cursor: pointer;
}

.pass:hover{
    text-decoration: underline;
}

input [type="button"] {
    width: 100%;
    height: 50px;
}

input[type="submit"] {
    width: 100%;
    height: 30px;
    border: 1px solid;
    background: red;
    color: #e9f4fb;
    border-radius: 25px;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    transition: .3s;
    outline: none;
}

input[type="submit"]:hover {
    background-color: #7CB9E8;

}

p.error {
    background: #ff0000;

    color: #a6a6a6;

    padding: 10px;

    width: 95%;

    border-radius: 5px;

    margin: 20px auto;

}

/*Home page starts here*/

/*Nav Bar starts here*/
a {
    text-decoration: none;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 0px 40px;
    text-align: center;    
    
}
.left img{
    margin: 0 0 0 100px;
    padding: 10px px 0 10px 0;
    height: 165px;
}

.right{
    padding: 5px 0 5px 0;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.nav-menu{
    padding-left: 30px;
    list-style: none;
    width: 100%;
    overflow: hidden;
}

.nav-menu li{
    display: inline;
    margin: 0 40px 0 0;
    padding: 10px 0px 10px 0px;
}

/*color of class menu items*/
.menu-items {
    line-height: 1.8em;
    color: #ffffff00;
    text-shadow: 0 0 #ffffff, 0 1.8em red;
    /* font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif'; */
    font-size: 15px;
    overflow: hidden;
    transition: .3s;
}

/*on hover text color change to red */
.menu-items:hover {
    text-shadow: 0 -1.8em #000, 0 0 red;
}

/*login button on nav bar*/
.login-btn{
    padding: 5px 13px;
    border-radius: 40px;
    border: 0;
    cursor: pointer;
    background-color: #F85151;
    font-weight: 700;
    /* font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif'; */
}
.login-btn:hover{
    background-color:#7CB9E8;
    transition: .3s;
}
.login-btn a{
    font-family: 'poppins', sans-serif;
    font-size: 14px;
}

/*nav bar ends here */

/* arrow button starts here */

*{
    scroll-behavior: smooth;
}

.scrolltop .button {
    border-radius: 30%;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    border-style: none;
    background-color: #F85151;
    width: 38px;
    height: 38px;
    line-height: 60px;
    text-align: center;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s;
    opacity: .5s; visibility: .5s;
    /* opacity: 0; */
    z-index: 10;
}

/* arrow button ends here */
header {

    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6)), url(../images/Bg.jpg);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
}

section.about1 {
    width: 60%;
    margin: 70px 0 65px 0;
}
section.about2 {
    display: flex;
    align-items: center;
    justify-content:space-around;
    padding: 0 0 0 136px;
}
    
.about2 .left-about{
    width: 40%;
}
.about2 .middel-about{
    width:40%;
}
.about2 .right-about {
    width: 40%;
}

.about1 .left-about h1{
    width: 50%;
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-align: left;
    letter-spacing: 1px;
    margin: 0 0 0 152px;
    font-family: 'poppins', sans-serif;
}
.left-about h1:hover {
    color: #F85151;
}

.about1 .left-about p{
    font-size: 17px;
    font-weight: 400;
    line-height: 31.5px;
    margin: 10px 0 0 152px;
    color: whitesmoke;
}

#img_align {
    width: 95%;
    border-radius: 5px;
    cursor: pointer;
}


.card {
    position: relative;
    width: 350px;
    height: 234px;
    margin: 20px;
    transform-style: preserve-3d;
    perspective: 1000px;
}

.box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: 1s ease;
}

.imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.contentBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
}

.contentBx div {
    transform-style: preserve-3d;
    padding: 20px;
    background: whitesmoke;
    transform: translateZ(100px);
}

.contentBx div h2 {
    color: rgb(0, 0, 0);
    font-size: 20px;
    letter-spacing: 1px;
}

.contentBx div p {
    color: rgb(36, 33, 33);
    font-size: 14px;
}

.card:hover .box {
    transform: rotateY(180deg);
}

/* Feature event section */
 .featured_event{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    margin: 4% 0;
}
 .featured_event .content {
    width: 50%;
}

 .featured_event .content h1,.featured_event .content p {
    text-align: center;
}

 .featured_event .content h1 {
    font-size: 45px;
    font-family: sans-serif;
}

.featured_event .content p {
    font-size: 16px;
    font-family: sans-serif;
}
/* Feature event section end */

/* Featured Events Boxes starts here */
section.events{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    min-height: 45vh;
    background: url(images/alumni4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.icon{
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
}

section.events .content1{
    display: flex;
    width: 40%;
    color: #ffffff;
    background: #F85151;
    transition: .5s;
    margin: 80px;
    border-radius: 10px;
}
.content1 .div1{
    border-right: 1px solid white;
}

.content1 div h1{
    font-size: 30px;
    font-weight: 100;
    padding: 50px 10px;
}
.content1 div p {
    font-size: 20px;
    font-weight: 200;
    padding: 50px 10px;

}
section.events .content2 {
    display: flex;
    width: 40%;
    color: #ffffff;
    background: #F85151;
    transition: .5s;
    margin: 80px;
    border-radius: 10px;
}
.content2 .div1 {
    border-right: 1px solid white;
}

.content2 div h1 {
    font-size: 30px;
    font-weight: 100;
    padding: 50px 10px;
}

.content2 div p {
    font-size:20px;
    font-weight:200;
    padding: 50px 10px;
    
}
section.events .content3 {
    display: flex;
    width: 40%;
    color: #ffffff;
    background: #F85151;
    transition: .5s;
    margin: 80px;
    border-radius: 10px;
}
.content3 .div1 {
    border-right: 1px solid white;
}
.content3 div h1 {
    font-size: 30px;
    font-weight: 100;
    padding: 50px 10px;
}

.content3 div p {
    font-size:20px;
    font-weight:200;
    padding: 50px 10px;
    
}
.div2 .btn{
    font-weight: 600;
    margin: 0 0 10px 60px;
    padding: 5px;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    outline: none;
    background: white;
    color: #F85151;
    justify-content: center;
}
.div2 .btn:hover {
    color: white;
    background-color: #F85151;
}

section.events .content1:hover{
    background: #7CB9E8;
    color: #000;
}
section.events .content2:hover {
    background: #7CB9E8;
    color: #000;
}
section.events .content3:hover {
    background: #7CB9E8;
    color: #000;
}
 
.contact{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5%;
    padding: 10px;
}


.row1 {
    
    text-align: center;
    justify-content: center;
    width: 50%;
    border-radius: 20px;
    padding: 20px 0;

}
.contact .row1 h1 {
    color: #000;
    font-size: 40px;
    text-align: center;
    font-weight: 600;
    border-bottom: 1px solid rgb(0, 0, 0);
    padding-bottom: 5px;
}
.contact form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 50px 20px 10px;
    margin: 10px;
}
.row1 input{
    width: 50%;
    padding: 0 5px;
    margin-bottom: 10px;
    height: 40px;
    font-size: 16px;
    outline: none;
}
.row1 input.verify:invalid{
    border: 1px solid #F85151;
    animation: shake 0.2s 2;
}
@keyframes shake{
    25%{
        translate: 6px 0;
    }
    50% {
        translate: -6px 0;
    }
         
    75% {
        translate: 6px 0;
    }
                
}

.row1 textarea{
    width: 50%;
    height: 150px;
    padding: 12px 5px;
    border: 1px solid #ccc;
    font-size: 1.2rem;
    resize: none;
    color: #333;
    margin: 1.2rem 0;
    font-family: "poppins";
}

.row1 .send_btn{
    width: 50%;
    padding: 10px 20px;
    border-radius: 20px;
    border: 0;
    cursor: pointer;
    color: white;
    background-color: #F85151;
    font-weight: 900;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif'
}

.row1 .send_btn:hover {
    background-color: #7CB9E8;
    transition: .3s;
}
section.cont {
    position: relative;
    top: -3px;
    height: 10px;
}
.fot_img img {
    margin-bottom: -1px;
    width: 100%;
    height: auto;
}

section.end {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40vh;
    background: #434e53;
}

.left1 {
    /* width: 40%; */
    font-size: 15px;
    padding: 0 0 0 20px;
}
.left1 img{
    height: 230px;
}
.left1 p{
    padding: 0 0 30px 30px;
    color: #ffffff;
}
.right1{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right1 .container5 .icon1 p,
.right1 .container5 .icon2 p,
.right1 .container5 .icon3 p {
    font-size: 15px;
    border: 0;
}
section.end .right1 p{
    font-size: 25px;
    margin-bottom: 10px;
    color: #ffffff;
    border-bottom: 1px solid whitesmoke;
}
.container5{
    width: 50%;
}
.container5 .icon1, .container5 .icon2, .container5 .icon3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.last {
    padding: 0px 0 10px 0;
    background: #434e53;
    position: relative;
    top: -3px;
    height: -1px;
}
.last p{
    text-align: right;
    color: #ffffff;
}